<ion-view>
    <ion-content>
        <div class="softgearHeader">
            <span class="pull-left">
                <button class="button button-small" ng-click="goState('tab.content')"><i class="xi-angle-left"></i> 컨텐츠 목록</button>
            </span>
            {{params.title}}
            <!--<span class="pull-right">-->
            <!--<button class="button button-small">-->
            <!--<i class="xi-pen"></i> 기기 편집-->
            <!--</button>-->
            <!--</span>-->
            <div class="spacer"></div>
        </div>

        <div class="button-bar padding">
            <a ng-click="goTab('info')" ng-class="{'button-royal' : showTab == 'info'}" class="button button-small">기본정보</a>
            <a ng-click="goTab('timeline')" ng-class="{'button-royal' : showTab == 'timeline'}" class="button button-small">타임라인</a>
            <a ng-click="goTab('notice')" ng-class="{'button-royal' : showTab == 'notice'}" class="button button-small" ng-if="showNotice">공지사항</a>
        </div>

        <div class="padding" ng-if="showTab == 'info'">
            <h5>
                대표 이미지
                <button class="pull-right button button-clear button-small button-dark" ng-click="getContentImage('rep')">
                    <i class="xi-refresh"></i> 변경
                </button>
            </h5>
            <div ng-if="!rep_img" class="sequenceInfo" ng-style="params.rep_img ? { 'height':'200px' } : { 'height': 'auto', 'padding': '20px' }" style="background-image: url('{{params.rep_thumb | trustMainUrl}}');background-repeat: no-repeat; background-position: center center; background-size: 100%;">
                <span ng-if="!params.rep_img">등록된 대표 이미지가 없습니다.</span>
            </div>

            <h5>
                배경 이미지
                <button class="pull-right button button-clear button-small button-dark" ng-click="getContentImage('bg')">
                    <i class="xi-refresh"></i> 변경
                </button>
            </h5>
            <div ng-if="!bg_img" class="sequenceInfo" ng-style="params.bg_img ? { 'height':'200px' } : { 'height': 'auto', 'padding': '20px' }" style="background-image: url('{{params.bg_thumb | trustMainUrl}}');background-repeat: no-repeat; background-position: center center; background-size: 100%;">
                <span ng-if="!params.bg_img">등록된 배경 이미지가 없습니다.</span>
            </div>

            <ion-list>
                <ion-item class="item-select">
                    시계표시
                    <label>
                        <select ng-model="params.clock">
                            <option value="N">없음</option>
                            <option value="T">상단</option>
                            <option value="M">중앙</option>
                            <option value="B">하단</option>
                        </select>
                    </label>
                </ion-item>
                <ion-toggle ng-model="params.checked_public" toggle-class="toggle-assertive">공개</ion-toggle>
            </ion-list>
        </div>
        <style>
            .slider-slide h3{
                color:#fff;
                margin-top:10px;
            }
            .scroll{
                height:100%;
            }

            .tabbed-slidebox .tsb-icons:after{
                display:none;
            }
        </style>
        <div class="padding" ng-if="showTab == 'timeline'">
            <h5>
                사용중인 템플릿
                <button class="pull-right button button-clear button-small button-dark" ng-click="showTemplate()">
                    <i class="xi-refresh"></i> 변경
                </button>
            </h5>
            <div class="sequenceInfo" ng-style="params.template ? {} : { 'height': 'auto', 'padding': '20px' }">
                <div ng-if="params.template" class="template" ng-include="'./templates/tpls/' + params.template + '.html'" style="height:200px;"></div>
                <span ng-if="!params.template">선택된 템플릿이 없습니다.</span>
            </div>
            <div class="list" ng-if="params.template">
                <a class="item">
                    템플릿 유형 : {{tpls1D[params.template].title}}
                </a>
                <a class="item">
                    타임라인 : {{tpls1D[params.template].sequence_count}}개
                </a>
            </div>

            <tab-slide-box tab="0" ng-if="params.template">
                <div class="tsb-icons">
                    <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll">
                            <a href="javascript:;" class="{{tab.icon}}" ng-repeat="timeline in params.timelines" on-finish-render="test()">{{$index+1}}</a>
                        </ion-scroll>
                    </div>
                </div>
                <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                    <ion-slide ng-repeat="timeline in params.timelines">
                        <ion-header-bar class="bar-positive">
                            <div class="buttons">
                                <button class="button button-icon icon ion-ios-minus-outline"
                                        ng-click="shouldShowDelete = !shouldShowDelete; shouldShowReorder = false"></button>
                            </div>
                            <h5 class="title">{{$index+1}}번 타임라인</h5>
                            <div class="buttons">
                                <button class="button" ng-click="shouldShowDelete = false; shouldShowReorder = !shouldShowReorder">
                                    순서변경
                                </button>
                            </div>
                        </ion-header-bar>
                        <div style="clear: both; padding-top:43px;"></div>
                        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="false">
                            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="item in timeline">
                                <img ng-src="{{item.thumb_filename ? (item.thumb_filename | trustUrl) : './img/url.png'}}" ng-click="showMdEdit(item)">
                                <h2><span style="color:#666; font-size:12px;">{{clip_type[item.clip_type]}}</span> {{item.title}}</h2>
                                <p class="help-block" ng-show="item.file_size">{{item.file_size | filesize}}</p>
                                <p class="help-block">
                                    <b>카운트</b> 0 <b>러닝타임</b> {{item.duration}}초
                                </p>
                                <p class="help-block" ng-if="item.url_prefix && item.url && item.url_prefix!='null' && item.url!='null'">
                                    {{item.url_prefix}}{{item.url}}
                                </p>

                                <ion-delete-button class="ion-minus-circled" ng-click="timeline.splice($index, 1)"></ion-delete-button>
                                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(timeline, item, $fromIndex, $toIndex)"></ion-reorder-button>

                            </ion-item>
                            <ion-item ng-click="addClip(timeline)">
                                <i class="icon ion-ios-plus-empty"></i> 클립 추가
                            </ion-item>
                        </ion-list>
                    </ion-slide>
                </ion-slide-box>
            </tab-slide-box>
        </div>
        <div class="padding" ng-if="showTab == 'notice'">
            <ion-slide-box show-pager="false">
                <ion-slide>
                    <ion-header-bar class="bar-positive">
                        <div class="buttons">
                            <button class="button button-icon icon ion-ios-minus-outline" ng-click="shouldShowDelete = !shouldShowDelete; shouldShowReorder = false"></button>
                        </div>
                        <h5 class="title">공지사항</h5>
                        <div class="buttons">
                            <button class="button" ng-click="shouldShowDelete = false; shouldShowReorder = !shouldShowReorder">순서변경</button>
                        </div>
                    </ion-header-bar>
                    <div style="clear: both; padding-top:43px;"></div>
                    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="false">
                        <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in params.notices">
                            <h2>
                                {{item.content}}
                            </h2>
                            <p class="help-block" ng-if="item.url_prefix && item.url && item.url_prefix!='null' && item.url!='null'">
                                {{item.url_prefix}}{{item.url}}
                            </p>

                            <ion-delete-button class="ion-minus-circled" ng-click="params.notices.splice($index, 1)"></ion-delete-button>
                            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(params.notices, item, $fromIndex, $toIndex)"></ion-reorder-button>
                        </ion-item>
                        <ion-item ng-click="showMdNotice()">
                            <i class="icon ion-ios-plus-empty"></i> 공지사항 추가
                        </ion-item>
                    </ion-list>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="padding">
            <button class="button button-block button-positive button-small"  ng-click="saveContent()">
                모든 정보를 저장합니다
            </button>
        </div>
    </ion-content>

    <!--modal template select-->
    <script id="mdTemplate" type="text/ng-template">
        <ion-modal-view style="background:#eeeeee;">
            <ion-header-bar>
                <h1 class="title">템플릿 선택</h1>
                <div class="buttons">
                    <button class="button-icon" ng-click="hideMdTemplate()"><i class="icon ion-ios-close-empty"></i></button>
                </div>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <h5>템플릿 선택</h5>
                    <p class="help-block">플레이어 화면에 표시될 템플릿을 선택합니다.</p>
                </div>
                <div class="button-bar padding">
                    <a ng-click="showTpltab = 'live'" ng-class="{'button-royal' : showTpltab == 'live'}" class="button button-small">방송용</a>
                    <a ng-click="showTpltab = 'row_did'" ng-class="{'button-royal' : showTpltab == 'row_did'}" class="button button-small">가로형</a>
                    <a ng-click="showTpltab = 'col_did'" ng-class="{'button-royal' : showTpltab == 'col_did'}" class="button button-small">세로형</a>
                </div>
                <div ng-repeat="(category,list) in tpls" class="padding">
                    <ul class="template_ul {{category}}" ng-show="showTpltab == category">
                        <li ng-repeat="(key,val) in list" ng-class="{'active': key == params.template}" ng-click="changeTpl(key, val)" ng-include="'./templates/tpls/' + key + '.html'">
                        </li>
                    </ul>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <!--modal clip upload-->
    <script id="mdUpload" type="text/ng-template">
        <ion-modal-view style="background:#eeeeee;">
            <ion-header-bar>
                <div class="buttons">
                    <button class="button-icon" ng-click="hideMdUpload()"><i class="icon ion-ios-close-empty"></i></button>
                </div>
                <h1 class="title">{{clip_type[upClip.clip_type]}} 클립 업로드</h1>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <p class="help-block">새로운 클립을 업로드합니다.</p>
                </div>
                <div class="list card">
                    <div class="item item-image" ng-if="upClip.clip_type != 'U'">
                        <img ng-src="{{cameraimage}}" ng-if="upClip.clip_type == 'I'">
                        <video controls width="100%" ng-if="upClip.clip_type == 'V'">
                            <source ng-src="{{cameraimage}}" type="video/mp4">
                            비디오플레이가 지원되지 않습니다. 브라우저를 업데이트하세요.
                        </video>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">클립 명</span>
                        <input type="text" placeholder="클립 명" ng-model="upClip.title" >
                    </label>
                    <label class="item item-input" ng-if="upClip.clip_type != 'V'">
                        <span class="input-label">러닝 타임 (초)</span>
                        <!--<span ng-show="upClip.clip_type == 'V'" style="color:gray;">자동 생성</span>-->
                        <input type="number" placeholder="러닝타임(초)" ng-model="upClip.duration" >
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">전환 효과</span>
                        <select ng-model="upClip.transition">
                            <option ng-repeat="tran in trans" value="{{tran}}">{{tran}}</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">링크 종류</span>
                        <select ng-model="upClip.url_prefix">
                            <option value="">없음</option>
                            <option ng-repeat="up in url_prefix" value="{{up}}">{{up}}</option>
                        </select>
                    </label>
                    <label class="item item-input" ng-if="upClip.url_prefix">
                        <span class="input-label">링크</span>
                        <span style="color:gray;">{{upClip.url_prefix}}</span>
                        <input type="text" placeholder="softgear.co.kr (예)" ng-model="upClip.url">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">타입</span>
                        <span style="color:gray;">{{clip_type[upClip.clip_type]}}</span>
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive button-small" ng-click="saveClip()">
                        완료
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <!--modal clip edit-->
    <script id="mdEdit" type="text/ng-template">
        <ion-modal-view style="background:#eeeeee;">
            <ion-header-bar>
                <div class="buttons">
                    <button class="button-icon" ng-click="hideMdEdit()"><i class="icon ion-ios-close-empty"></i></button>
                </div>
                <h1 class="title">타임라인 수정</h1>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <p class="help-block">타임라인의 정보를 수정합니다.</p>
                </div>
                <div class="list card">
                    <div class="item item-image" ng-if="modiClip.clip_type != 'U'">
                        <img ng-src="{{modiClip.uploaded_filename | trustUrl}}" ng-if="modiClip.clip_type == 'I'">
                        <video controls width="100%" ng-if="modiClip.clip_type == 'V'">
                            <source ng-src="{{modiClip.uploaded_filename | trustUrl}}" type="video/mp4">
                            비디오플레이가 지원되지 않습니다. 브라우저를 업데이트하세요.
                        </video>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">클립 명</span>
                        <input type="text" placeholder="클립 명" ng-model="modiClip.title" >
                    </label>
                    <label class="item item-input">
                        <span class="input-label">러닝 타임 (초)</span>
                        <span ng-show="modiClip.clip_type == 'V'" style="color:gray;">{{modiClip.duration}}</span>
                        <input ng-show="modiClip.clip_type != 'V'" type="text" placeholder="러닝타임(초)" ng-model="modiClip.duration" />
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">전환 효과</span>
                        <select ng-model="modiClip.transition">
                            <option ng-repeat="tran in trans" value="{{tran}}">{{tran}}</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">링크 종류</span>
                        <select ng-model="modiClip.url_prefix">
                            <option value="">없음</option>
                            <option ng-repeat="up in url_prefix" value="{{up}}">{{up}}</option>
                        </select>
                    </label>
                    <label class="item item-input" ng-if="modiClip.url_prefix">
                        <span class="input-label">링크</span>
                        <span style="color:gray;">{{modiClip.url_prefix}}</span>
                        <input type="text" placeholder="softgear.co.kr (예)" ng-model="modiClip.url">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">타입</span>
                        <span style="color:gray;">{{clip_type[modiClip.clip_type]}}</span>
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-small" ng-click="hideMdEdit()">
                        닫기
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <!--modal clip select-->
    <script id="mdClip" type="text/ng-template">
        <ion-modal-view style="background:#eeeeee;">
            <ion-header-bar>
                <div class="buttons">
                    <button class="button-icon" ng-click="hideMdClip()"><i class="icon ion-ios-close-empty"></i></button>
                </div>
                <h1 class="title">클립 선택</h1>
                <label class="item-input-wrapper title" style="text-align:left; height:auto; top:2px; left:35px; right:40px;" ng-if="showSearch">
                    <input type="text" placeholder="클립명으로 찾기..." ng-model="search.title" style="background: transparent; width: 100%; margin-top: 5px;"/>
                </label>
                <div class="buttons">
                    <button class="button button-icon ion-ios-search" ng-click="showSearch = !showSearch; search.title=''"></button>
                </div>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="clip in clips | filter:search:strict" type="item-text-wrap" ng-click="selectClip(clip)">
                        <img ng-src="{{clip.thumb_filename ? (clip.thumb_filename | trustUrl) : './img/url.png'}}" height="80">
                        <h2><span style="color:#666; font-size:12px;">{{clip_type[clip.clip_type]}}</span> {{clip.title}}</h2>
                        <p class="help-block">{{clip.source_filename}}</p>
                        <p class="help-block" ng-show="clip.file_size">{{clip.file_size | filesize}}</p>
                        <p class="help-block">{{clip.url_prefix}}{{clip.url}}</p>
                    </ion-item>
                </ion-list>

                <ion-infinite-scroll
                        ng-if="clipMore"
                        on-infinite="loadMoreClip()">
                </ion-infinite-scroll>
            </ion-content>
        </ion-modal-view>
    </script>

    <!--modal add Notice-->
    <script id="mdNotice" type="text/ng-template">
        <ion-modal-view style="background:#eeeeee;">
            <ion-header-bar>
                <div class="buttons">
                    <button class="button-icon" ng-click="hideMdNotice()"><i class="icon ion-ios-close-empty"></i></button>
                </div>
                <h1 class="title">공지사항 추가</h1>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <p class="help-block">새로운 공지사항을 추가합니다.</p>
                </div>
                <div class="list card">
                    <label class="item item-input">
                        <span class="input-label">공지사항 내용</span>
                        <input type="text" placeholder="공지사항 내용" ng-model="notice.content" >
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">링크 종류</span>
                        <select ng-model="notice.url_prefix">
                            <option value="">선택</option>
                            <option ng-repeat="up in url_prefix" value="{{up}}">{{up}}</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">링크</span>
                        <span style="color:gray;">{{notice.url_prefix}}</span>
                        <input type="text" placeholder="softgear.co.kr (예)" ng-model="notice.url">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive button-small" ng-click="addNotice()">
                        완료
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
