<ion-view>
    <ion-content>
        <div class="softgearHeader">
      <span class="pull-left">
        <button class="button button-small" ng-click="goState('tab.content')"><i class="xi-angle-left"></i> 컨텐츠 목록</button>
      </span>
            {{content.title}}
      <span class="pull-right">
        <button class="button button-small">
          <i class="xi-pen"></i> 기기 편집
        </button>
      </span>
            <div class="spacer"></div>
        </div>

        <div class="sequenceInfo">
            <img src="{{content.rep_img | trustMainUrl}}" style="width:100%" />
            <h4>{{device.lastText}}</h4>
        </div>

        <div class="button-bar padding">
            <a ng-click="showTab = 'info'" ng-class="{'button-royal' : showTab == 'info'}" class="button button-small">기본정보</a>
            <a ng-click="showTab = 'timeline'" ng-class="{'button-royal' : showTab == 'timeline'}" class="button button-small">타임라인</a>
        </div>

        <div class="padding" ng-show="showTab == 'info'">
            <h4>
                사용중인 템플릿
                <button class="pull-right button button-clear button-small button-dark">
                    <i class="xi-refresh"></i> 변경
                </button>
            </h4>
            <img src="./img/template_ex.png" width="100%" />
            <div class="list">
                <a class="item">
                    템플릿 유형 : 방송형 / DID형
                </a>
                <a class="item">
                    타임라인 : 2개
                </a>
            </div>
        </div>

        <div class="padding" ng-show="showTab == 'banner'">
            <h4>DID 템플릿 배너</h4>
            <hr />
            <h4>방송용 템플릿 배너</h4>
        </div>
    </ion-content>
</ion-view>
