<ion-view>
    <ion-content>
        <div class="softgearHeader">
      <span class="pull-left">
        <button class="button button-small" ng-click="goState('tab.content')"><i class="xi-angle-left"></i> 컨텐츠 목록</button>
      </span>
            {{content.title}}
      <span class="pull-right">
        <button class="button button-small">
          <i class="xi-pen"></i> 기기 편집
        </button>
      </span>
            <div class="spacer"></div>
        </div>

        <div class="button-bar padding">
            <a ng-click="goTab('info')" ng-class="{'button-royal' : showTab == 'info'}" class="button button-small">기본정보</a>
            <a ng-click="goTab('timeline')" ng-class="{'button-royal' : showTab == 'timeline'}" class="button button-small">타임라인</a>
        </div>

        <div class="padding" ng-if="showTab == 'info'">
            <h4>
                사용중인 템플릿
                <button class="pull-right button button-clear button-small button-dark">
                    <i class="xi-refresh"></i> 변경
                </button>
            </h4>
            <div class="sequenceInfo">
                <img src="{{content.rep_img | trustMainUrl}}" style="width:100%" />
                <h4>{{content.title}}</h4>
            </div>
            <div class="list">
                <a class="item">
                    템플릿 유형 : 방송형 / DID형
                </a>
                <a class="item">
                    타임라인 : 2개
                </a>
            </div>
        </div>
        <style>
            .slider-slide h3{
                color:#fff;
                margin-top:10px;
            }
            .scroll{
                height:100%;
            }

            .tabbed-slidebox .tsb-icons:after{
                display:none;
            }
        </style>
        <div class="padding" ng-if="showTab == 'timeline'">
            <tab-slide-box>
                <div class="tsb-icons">
                    <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll">
                            <a href="javascript:;" class="{{tab.icon}}" ng-repeat="timeline in content.timelines" on-finish-render="test()">{{$index+1}}</a>
                        </ion-scroll>
                    </div>
                </div>
                <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                    <ion-slide ng-repeat="timeline in content.timelines">
                        <h5> 타임라인
                            <a ng-show="!shouldShowReorder" ng-click="shouldShowReorder = !shouldShowReorder" style="float:right;">순서 편집</a>
                            <a ng-show="shouldShowReorder" ng-click="shouldShowReorder = !shouldShowReorder" style="float:right;">완료</a>
                        </h5>

                        <ion-list show-reorder="shouldShowReorder" style="pointer-events: auto;">
                            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="item in timeline">
                                <img ng-src="{{item.thumb_filename | trustUrl : server_url}}" ng-click="showTimeEdit(play_list)" />
                                <h2>
                                    {{item.title}}
                                </h2>
                                <p class="help-block">
                                    {{item.file_type}}
                                </p>
                                <p class="help-block">
                                    <b>카운트</b>
                                    0
                                </p>
                                <p class="help-block">
                                    <b>러닝타임</b>
                                    {{item.duration}}초
                                </p>

                                <ion-option-button class="button-assertive" ng-click="removeTimeline($index)">
                                    클립 제거
                                </ion-option-button>
                                <ion-reorder-button class="ion-navicon" on-reorder="clipReorder(play_list, $fromIndex, $toIndex)">
                                </ion-reorder-button>

                            </ion-item>
                            <ion-item ng-click="addClip()">
                                <i class="icon ion-ios-plus-empty"></i> 클립 추가
                            </ion-item>
                        </ion-list>
                    </ion-slide>
                </ion-slide-box>
            </tab-slide-box>
        </div>
    </ion-content>
</ion-view>
