<ion-view view-title="대시보드">
  <ion-content>
    <div class="softgearHeader">
      <span class="pull-left">
        <button class="button button-small"><i class="xi-network-home"></i> 홈방</button>
      </span>
      대시보드
      <span class="pull-right">
        <button class="button button-small" ng-click="goState('settings')"><i class="xi-cog"></i></button>
      </span>
      <div class="spacer"></div>
    </div>
      <div class="channel_info">
        <h2>채널정보</h2>
        <div class="channel_thumbnail">
          <img ng-src="{{params.rep_img ? (params.rep_img | trustMainUrl) : './img/no_content.jpg'}}" width="100%" />
        </div>
        <h3 ng-click="showMdTitle()">
          {{params.title}}
          <i class="xi-pen"></i>
        </h3>
      </div>

    <div class="informationbox">
      <div class="design_banner">
        컨텐츠 디자인이 필요하세요?
      </div>
      <div class="col">
        <p>
          전문인력이 빠르고 정확하게 디자인해드립니다.
        </p>
        <a ng-click="browser.openInAppBrowser('http://softgear.co.kr')">신청하기
          <i class="xi-angle-right"></i>
        </a>
      </div>
    </div>

    <div class="informationbox">
      <div class="design_banner">
        <i class="xi-security"></i> 채널정보
      </div>
      <div class="col" ng-if="params.ch_srl > 0">
        <p> 분류 : {{params.category}} </p>
        <p> 채널코드 : {{params.ch_id}} </p>
      </div>
      <div class="col" ng-if="!params.ch_srl">
        <p> 관리자용 통합 채널입니다. </p>
      </div>
    </div>

    <div class="informationbox">
      <div class="design_banner">
        <i class="xi-server-network"></i> 서버 사용량
      </div>
      <div class="col">
        <p> {{params.used_space | number:1}}M / <b ng-show="params.limit">{{params.limit | number:1 }}M</b><b ng-show="!params.limit">무제한</b> </p>
        <a href="#">용량을 추가할까요? </a>
      </div>
    </div>
  </ion-content>
    <!--modal title-->
    <script id="mdTitle" type="text/ng-template">
        <ion-modal-view style="background:#eeeeee;">
            <ion-header-bar>
                <h1 class="title">채널명 변경</h1>
                <div class="buttons">
                    <button class="button-icon" ng-click="hideMdTitle()"><i class="icon ion-ios-close-empty"></i></button>
                </div>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <p class="help-block">채널명을 변경합니다.</p>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="채널명" ng-model="params.title">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive button-small" ng-click="updateChannelTitle()">
                        저장
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
