<div id="loginWrap" class="move">
  <div id="login">
    <div class="centerofcenter">
      <h1 class="softgearBig wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
        <small>soft</small>
        <b>GEAR</b>
      </h1>

      <div class="list list-inset loginForm wow fadeInUp" data-wow-delay="2s">
        <label class="item item-input">
          <i class="xi-connectdevelop"></i>
          <input type="text" placeholder="채널번호 입력">
        </label>
        <label class="item item-input">
          <i class="xi-security"></i>
          <input type="password" placeholder="비밀번호">
        </label>
        <button class="button-royal button button-block button-small" ng-click="goState('agreement')">
          <i class="xi-plug"></i>
          채널 접속
        </button>


        <div class="linkbox">
          <a href="#agreement">새로운 채널 발급이 필요하신가요?</a>
        </div>
      </div>
    </div>
  </div>
</div>
