<ion-view>
    <ion-content>
        <div class="softgearHeader">
            설정
            <span class="pull-right">
                <button class="button button-small" ng-click="goState('tab.dash')"><i class="xi-close"></i></button>
              </span>
            <div class="spacer"></div>
        </div>
        <ion-list>
            <ion-item class="item-icon-left">
                <i class="icon xi-devices"></i>
                DID 단말기 구매
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon xi-unlock-o"></i>
                PRO 채널로 전환
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon xi-help-o"></i>
                고객센터
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon xi-star-o"></i>
                광고문의
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="logout()">
                <i class="icon xi-log-out"></i>
                로그아웃
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>