<ion-view>
    <ion-content>
        <div class="softgearHeader">
            설정
            <span class="pull-right">
                <button class="button button-small" ng-click="goState('back')"><i class="xi-close"></i></button>
              </span>
            <div class="spacer"></div>
        </div>
        <ion-list>
            <!--<ion-item class="item-icon-left" ng-click="showMdChannel()">-->
                <!--<i class="icon xi-exchange"></i>-->
                <!--현재 접속 채널 변경-->
                <!--<span class="item-note">-->
                    <!--<i class="xi-angle-right"></i>-->
                <!--</span>-->
            <!--</ion-item>-->
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/index.php?mid=customer&category=230&act=dispBoardWrite')">
                <i class="icon xi-unlock-o"></i>
                유료채널 가입
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/index.php?mid=customer&category=231&act=dispBoardWrite')">
                <i class="icon xi-hdd"></i>
                하드용량 추가
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/index.php?mid=customer&category=232&act=dispBoardWrite')">
                <i class="icon xi-palette"></i>
                컨텐츠 디자인 의뢰
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/index.php?mid=customer&category=233&act=dispBoardWrite')">
                <i class="icon xi-devices"></i>
                단말기 구매
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/index.php?mid=customer&category=234&act=dispBoardWrite')">
                <i class="icon xi-connectdevelop"></i>
                단독 솔루션 구매
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/index.php?mid=customer&category=235&act=dispBoardWrite')">
                <i class="icon xi-star-o"></i>
                광고 문의
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/announcement')">
                <i class="icon xi-new-o"></i>
                공지사항
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="browser.openInAppBrowser('http://www.softgear.co.kr/dataroom')">
                <i class="icon xi-view-list"></i>
                자료실
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="logout()">
                <i class="icon xi-log-out"></i>
                로그아웃
                <span class="item-note">
                    <i class="xi-angle-right"></i>
                </span>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>