<ion-tabs class="tabs-dark tabs-icon-top tabs-color-active-positive tabs-striped">

  <!--대시보드탭-->
  <ion-tab title="홈" icon-off="xi-home-o" icon-on="xi-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!--단말기관리탭-->
  <ion-tab title="단말기" icon-off="xi-devices" icon-on="xi-devices" href="#/tab/device">
    <ion-nav-view name="tab-device"></ion-nav-view>
  </ion-tab>

  <!--컨텐츠탭-->
  <ion-tab title="컨텐츠" icon-off="xi-file-video-o" icon-on="xi-file-video" href="#/tab/content">
    <ion-nav-view name="tab-content"></ion-nav-view>
  </ion-tab>

  <!--메세지탭-->
  <ion-tab title="메세지" icon-off="xi-message-o" icon-on="xi-message" href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

</ion-tabs>
