a{
  text-decoration:none;
}
.wow:first-child {
  visibility: hidden;
}
.centerofcenter{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#backbutton{
  position:absolute;
  left:0;
  top:0;
  background:transparent;
}
#loginWrap{
  width:100%;
  height:100%;
  background-image:url('../img/loginBackground2.jpg');
  background-size:cover;
  background-position:center;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: moveBackground;
  -moz-animation-name: moveBackground;
  -o-animation-name: moveBackground;
  animation-name: moveBackground;
  animation-interation-count:1;
}

#login{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  -webkit-animation-duration: 2000ms;
  -moz-animation-duration: 2000ms;
  -o-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-name: fadeInBg;
  -moz-animation-name: fadeInBg;
  -o-animation-name: fadeInBg;
  animation-name: fadeInBg;
}

@keyframes moveBackground {
  from {
    background-position:left;
  }
  50%{
    background-position:right;
  }
  to {
    background-position:center;
  }
}

@keyframes fadeInBg {
  from {
    background:rgba(0,0,0,.3);
  }
  50%{
    background:rgba(0,0,0,.6);
  }
  to {
    background:rgba(0,0,0,.8);
  }
}

.spacer{
  clear:both;
  height:1px;
}

.softgearSmall{
  background:rgba(23,117,189,.8);
  color:#eee;
  text-align:right;
  border:1px solid #1775bd;
  width:100%;
  font-size:16px;
  padding:5px;
}
.softgearSmall small{
  font-size:12px;
}
.softgearBig{
  /*background:rgba(23,117,189,.8);*/
    background:url('../img/icon.png');
    background-size:100%;
  color:#eee;
  text-align:right;
  padding:32px 20px;
  /*border:1px solid #1775bd;*/
  margin:0 auto;
  width:150px;
  height:150px;
}
.softgearBig small{
  display:block;
  color:#aaa;
}

.loginForm{
  width:250px;
  margin:50px auto 0;
  background:transparent;
}

.loginForm .item,
.loginForm .item input{
  background:transparent;
  border:none;
  color:#FFF;
  font-size:16px;
  padding-bottom:5px;
}

.loginForm .item{
  border-bottom:1px solid #AAA;
  padding-left:0;
}

.loginForm .item i{
  color:#FFF;
  font-size:20px;
  padding-right:10px;
}

.loginForm button{
  border-radius:0px;
  font-size:12px;
  background:rgba(23,117,189,.8) !important;
}

.signForm{
    background:transparent;
}

.signForm .input-label{
    color:#ddd;
}

.signForm .item,
.signForm .item input,
.signForm .item textarea,
.signForm .item select{
    background:transparent;
    border:none;
    color:#FFF;
    font-size:16px;
    padding-bottom:5px;
}

.signForm .item{
    border-bottom:1px dashed #555;
    padding-left:0;
}

.signForm .item i{
    color:#FFF;
    font-size:20px;
    padding-right:10px;
}

.signForm button{
    border-radius:0px;
    font-size:12px;
    background:rgba(23,117,189,.8) !important;
}

.linkbox{
  margin-top:30px;
  text-align:center;
}

.blackBGTitle{
  color:#0a9dc7;
  font-size:20px;
  padding:0px;
  padding-bottom:5px;
  border-bottom:1px solid #0a9dc7;
  margin:20px;
}

.blackBox{
  background:#eee;
  margin:0 20px;
  padding:5px;
  height:100px;
  overflow-y:scroll;
  border:1px solid #ccc;
  font-size:12px;
}

.agreement .item{
  background:transparent;
  border:none;
  margin:0 20px;
  padding:10px 10px 10px 60px;
  color:#FFF;
  background:rgb(105, 180, 219);
}

.agreement .checkbox input, .checkbox-icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.agreement button{
  border-radius:0;
  background:#DDD;
  margin:0 20px;
  width:calc(100% - 40px);
}


/*DASHBOARD*/
.softgearHeader{
  background:#1775bd;
  color:#EEE;
  text-align:center;
  padding:15px 5px 10px;
  font-weight:bold;
  position:relative;
}
.softgearHeader .pull-left{
  position:absolute;
  left:5px;
  bottom:5px;
}
.softgearHeader .pull-right{
  position:absolute;
  right:5px;
  bottom:5px;
}
.softgearHeader button{
  background:transparent;
  color:#FFF;
}
.softgearHeader button.activated,
.softgearHeader button:active{
  border:1px solid transparent;
  background:transparent;
  color:yellow;
}
.channel_info {
  background: linear-gradient(180deg, #1775bd 50%, #FFF 50%);
}
.channel_info h2{
  text-align:center;
  color:#FFF;
  font-size:14px;
  padding:20px 0;
  margin:0;
}
.channel_info .channel_thumbnail{
  width:160px;
  height:160px;
  margin:0 auto;
  border-radius:50%;
  padding:0;
  overflow:hidden;
  border:2px solid #1775bd;
  position:relative;
}
.channel_info .channel_thumbnail span{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  display:block;
  text-align:center;
  color:#AAA;
  padding:5px;
  font-size:11px;
  background:rgba(0,0,0,.4);
}
.channel_info .channel_thumbnail img{
  width:100%;
  height:100%;
}
.channel_info h3{
  margin:20px;
  padding:10px;
  border-bottom:1px solid #ccc;
  text-align:center;
}
.channel_info h3 i{
  color:#AAA;
  font-size:12px;
  float:right;
}
.informationbox{
  margin:20px;
  border:2px solid #1775bd;
  border-radius:4px;
}
.informationbox .design_banner{
  text-align:center;
  color:#FFF;
  padding:10px 0 10px;
  font-size:16px;
  background:#1775bd;
}

.informationbox p {
  text-align:left;
  font-size:15px;
  padding:5px 5px 0;
}
.informationbox a{
  display:block;
  text-align:right;
  color:#1775bd;
  font-weight:bold;
}
.item-icon-left .icon{
  font-size: 23px;
  color: #1775bd;
}

/*DEVICE*/
.sequenceInfo{
  position:relative;
    border: 1px solid #eee;
}
.sequenceInfo .iconArea{
  position:absolute;
  right:10px;
  top:10px;
  color:#FFF;
  font-size:11px;
  font-weight:bold;
}
.sequenceInfo .iconArea span{
  display:inline-block;
  padding-left:10px;
}
.sequenceInfo img{display:block;}

.sequenceInfo h4{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,.4);
  margin:0;
  padding:8px;
  color:#FFF;
}

.item-stacked-label {
    background: #fff;
}

.small_btn{
    font-size:1em !important;
    padding: 0 10px;
    height:34px;
}

.item-button-right{
    padding: 6px 70px 5px 16px;
}

.item-button-right > .button, .item-button-right .item-content > .button, .item-button-right > .buttons, .item-button-right .item-content > .buttons {
    top: initial;
    bottom: 5px;
}

.item-delete .button.icon {
    color: #ef473a;
}

.template_ul {
    height:150px;
    overflow-y:hidden;
    overflow-x:scroll;
    white-space: nowrap;
}
.template_ul:after {
    clear: both; display: block; content: " ";
}
.template_ul li {
    width:230px;
    height:130px;
    border:5px solid #ddd;
    display:inline-block;
    margin:10px;
    position:relative;
}
.template_ul.col_did{
    height:250px;
}
.template_ul.col_did li{
    width:130px; height:230px;
}
.template_ul li.active {
    border-color: cornflowerblue;
}
.template_ul li > div div{color:#FFF; padding:3px; float:left; overflow:hidden; text-align:center;}
.template_ul li > div div:nth-child(1){background: rgba(235, 79, 94, 0.7);}
.template_ul li > div div:nth-child(2){background: #679fb7;}
.template_ul li > div div:nth-child(3){background: #456978;}
.template_ul li > div div:nth-child(4){background: #588eeb;}
.template_ul li > div div:nth-child(5){background: #2ab6eb;}
.template_ul li > div div:nth-child(6){background: #b093f9;}
.template_ul li > div div:nth-child(7){background: #eb96a8;}
.template_ul li > div div:nth-child(8){background: #eb7575;}
.template_ul li > div div:nth-child(9){background: #eb4f5e;}
.template_ul li > div div:nth-child(10){background: #eb9f68;}
.template_ul li > div div:nth-child(11){background: #8a7b29;}
.template_ul li > div div:nth-child(12){background: #eb8d23;}
.template_ul li > div div:nth-child(13){background: #eb8d23;}
.ticker {
    height: 20%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;

    position:absolute;
    background:rgba(0,0,0,.6);
    left:0;
    z-index:100;
    bottom:0;
    width:100%;
}
.ticker li {
    height: 20% !important;
    width: 100% !important;
    padding: 2px;
    /*box-sizing:content-box;*/
    margin: 0;
    border: none;
}


.template > div div{color:#FFF; padding:3px; float:left; overflow:hidden; text-align:center;}
.template > div div:nth-child(1){background: rgba(235, 79, 94, 0.7);}
.template > div div:nth-child(2){background: #679fb7;}
.template > div div:nth-child(3){background: #456978;}
.template > div div:nth-child(4){background: #588eeb;}
.template > div div:nth-child(5){background: #2ab6eb;}
.template > div div:nth-child(6){background: #b093f9;}
.template > div div:nth-child(7){background: #eb96a8;}
.template > div div:nth-child(8){background: #eb7575;}
.template > div div:nth-child(9){background: #eb4f5e;}
.template > div div:nth-child(10){background: #eb9f68;}
.template > div div:nth-child(11){background: #8a7b29;}
.template > div div:nth-child(12){background: #eb8d23;}
.template > div div:nth-child(13){background: #eb8d23;}


.count_icon {float:right;font-size:12px;color:#666;}

/* 이전 style */
/* Empty. Add your own CSS if you like */
/*.item{*/
    /*font-size:14px;*/
/*}*/
/*.item .icon{*/
    /*font-size:18px;*/
/*}*/
/*.action-sheet-option{*/
    /*font-size:14px !important;*/
/*}*/
/*.help-block{*/
    /*font-size:12px;*/
    /*color:#AAA;*/
    /*padding:0;*/
    /*margin:0;*/
/*}*/
/*.help-block b{*/
    /*font-size:14px;*/
    /*color:#333;*/
/*}*/

/*.cover_image{*/
    /*width:100%;*/
    /*position:fixed;*/
    /*z-index:0;*/
    /*top:50px;*/
    /*height:200px;*/
    /*background-size:contain;*/
    /*background-repeat:no-repeat;*/
    /*background-position:center bottom;*/
/*}*/

/*.has_cover{*/
    /*background-color:#eeeeee !important;*/
    /*position:relative;*/
    /*top:200px;*/
    /*z-index:10;*/
    /*height:100%;*/
    /*border-top:1px solid #dddddd;*/
/*}*/

/*.scroll{*/
    /*position: absolute;*/
    /*min-height:100%;*/
    /*left:0;*/
    /*right:0;*/
    /*top:0;*/
/*}*/

/*.whiteBox{*/
    /*background:#FFF;*/
    /*border:1px solid #ddd;*/
/*}*/

/*hr{*/
    /*border: 0;*/
    /*height: 1px;*/
    /*background: #333;*/
    /*background-image: linear-gradient(to right, #eee, #ddd, #eee);*/
/*}*/

/*input.editText,*/
/*select.editText,*/
/*textarea.editText{*/
    /*display: inline;*/
    /*border: 1px solid #eee;*/
    /*height: 18px;*/
    /*width: 100%;*/
/*}*/
/* 이전 style end */